<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <div class="detailContainer">
      <%- include('show.ejs', { book : book }) %>
    </div>
    <%- include('../../layout/footer') %>
    <%- include('../../layout/navScript') %>
  </body>
</html>