<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
  	<%- include('../../layout/header') %>
    <%- include('show.ejs', { book : book }) %>
    <%- include('../../layout/footer') %>
    <%- include('../../layout/navScript') %>
  </body>
</html>