<!DOCTYPE html>
<html>
  <head>
    <title>Book App Demo</title>
    <link href='styles/reset.css' rel='stylesheet'/>
    <link href='styles/base.css' rel='stylesheet'/>
  </head>
  <ul>
    <% searchBooks.forEach((book, index) => { %>
      <li>
        <%- include('../books/show.ejs', { book : book }) %>
        <p><%= index + 1 %> Of <%= searchBooks.length %></p>
        <form action="/books" method="post">
          <input type='hidden' name='title' value= '<%= book.title %>'/>
          <input type='hidden' name='image' value= '<%= book.image %>'/>
          <input type='hidden' name='authors' value= '<%= book.authors %>'/>
          <input type='hidden' name='description' value= '<%= book.description %>'/>
          <input type='hidden' name='isbn' value= '<%= book.isbn %>'/>
          <input class='save' value='Save' type='submit'/>
        </form>
      </li>
    <% }); %>
  </ul>
</html>