<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <a href='/search'>New Search</a>
    <p>Hello World</p>
    <% seedBooks.forEach((book, index) => { %>
      <%- include('books/show.ejs', { book : book }) %>
      <a href='books/<%=book.id%>'>View details</a>
    <% }); %>
    <%- include('../layout/footer') %>
    <%- include('../layout/navScript') %>
  </body>
</html>